<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="container d-flex align-items-center py-6 border position-relative">
      <!-- <p class="border">1</p> -->
      <h1 class="text-primary position-absolute top-50 start-50 translate-middle"><a href="./index.html" class="text-primary">EXHIBINECTION</a></h1>
      <ul class="list-unstyled d-flex me-2 logic position-absolute top-50 end-0 translate-middle-y">
        <li class="px-3 d-none d-md-block"><a href="#" class="h6">Sign in</a></li>
        <li class="px-3 d-none d-md-block"><a href="#" class="h6">Sign up</a></li>
        <li class="numpos">
          <a href="order1.html"><i class="fas fa-shopping-cart"></i></a>
          <p class="bg-info text-white w-75">3</p>
        </li>
      </ul>
    </div>

    <%- contents %>

    <footer class="footer d-flex flex-column-reverse">
      <div class="container mb-4">
       
          <h2 class="text-white">想收到展覽的最新消息嗎？<br> 快訂閱我們！</h2>
          <div class="messeng">
            <input type="text" placeholder="輸入您的電子信箱" class="border-none  pt-1 pb-2"><a href="#" class="btn btn-info px-6">訂閱</a>
          </div>
        
      </div>
    </footer>
    <div class="d-block d-md-flex align-items-center bd-highlight mb-3 container p-3" >
      <div class="p-2 bd-highlight h3 ">EXHIBINECTION</div>
      <div class="p-2 bd-highlight h6 ">© 2020. All Rights Reserved.</div>
      <ul class="ms-auto p-2 bd-highlight d-flex list-unstyled ">
          <li class="d-none d-md-block"><a href="#" class="h6">Sign in</a></li>
          <li class="ms-4 d-none d-md-block"><a href="#" class="h6">Sign up</a></li>
      </ul>
    </div>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 150, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 600, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: true, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

      });
    </script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>